<!DOCTYPE html>
<html>
<head>
    <title>Upload File</title>
</head>
<body>
    <h2>Upload File</h2>
    {% if error %}
      <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
        <label for="file">Choose file:</label><br><br>
        <input type="file" name="file" required><br><br>
        <button type="submit">Upload</button>
    </form>

    <br>
    <a href="{{ url_for('files.list_files') }}">Back to File List</a>
</body>
</html>
